<ul>
	<li>
		<%= f.label :event_id, t('activerecord.attributes.assignment.event_id') %>
		<%= belongs_to_auto_completer :assignment, :event, :code %>
	</li>
	<li>
		<%= f.label :aasm_state, t('activerecord.attributes.assignment.aasm_state')%>
		<%= f.select :aasm_state, Assignment.aasm_states.collect{|a| [t("assignments.aasm_state.#{a.name.to_s}"), a.name.to_s]}, {} %>
	</li>
	<%= form_buttons user_assignments_path(@user) %>
</ul>
