<%unless unavailability.blank?%>
  <% td_class = cycle('', ' class="odd"') %>
  <tr>
    <td<%= td_class %>><%= h unavailability.start_at %></td>
    <td<%= td_class %>><%= h unavailability.end_at %></td>
    <td<%= td_class %>>
       <%= link_to image_tag('show_16.png', :alt => t('general.show'),  :title => t('general.show' )), unavailability_url(unavailability) %>
       <%= link_to image_tag('pencil_16.png', :alt => t('general.edit'), :title => t('general.edit' )), edit_unavailability_url(unavailability) %>
       <%= link_to image_tag('delete_16.png', :alt => t('general.delete'), :title =>  t('general.delete' )), unavailability_url(unavailability), :method => 'delete', :confirm => t('general.are_you_sure') %>
    </td>
  </tr>
<% end %>
